
.myintro{
  width: 30%;
height: 50vh;
float: left;
background-color: #fe9fa3;
}
.intro_text{
  margin-left: 30%;
  font-size: 2vh;
  position: relative;
  line-height: 3vh;
}
.lee_img{
  width: 25%;
  margin-left: 35%;
  margin-top: 7%;
  position: relative;
}
.lee_img_background{
  width: 30%;
  height: 50vh;
  position: absolute;
}

.Advertising  {
  width: 70%;
height: 50vh;
float: left;
background-color: #5b090c;
}
.printer_img{
  width: 100%;
  height: 50vh;
  position: absolute;
}
.printer_text{
  margin-left: 40%;
  margin-top: 9%;
  position: relative;
  font-size: 2.3vh;

}




.s3d_homepage{
  width: 25%;
height: 50vh;
float: left;
}
.s3d_page_img{
  width: 100%;
  height: 50vh;
}
.s3d_cafe{
  width: 25%;
height: 50vh;
float: left;

}
.s3d_cafe_img{
  width: 100%;
  height: 50vh;
}
.Contents_index {
  width: 50%;
height: 100vh;
float: right;
background-color: #ffcccc;
}
.imageview{
  weight: 100%;
  height: 100vh;
}

.use{
  width: 50%;
height: 50vh;
float: left;
background-color: #a3161c;
}
.use_img{
  weight: 100%;
  height: 50vh;
}

.footer{
  width: 100%;
  height: 10vh;
  background: black;
  position: absolute;
  margin-top: 150vh;
  font-size: 2vh;
  text-align: center;
  background: black;
  color: white;

}

@import url(https://fonts.googleapis.com/css?family=Raleway:500,900);
figure.snip1432 {
  font-family: 'Raleway', Arial, sans-serif;
  /* color: #fff; */
  position: relative;
  overflow: hidden;
  background: #000000;
  color: #ffffff;
  /* text-align: l; */
  width: 100%;
  height: auto;
  margin: 0;
  /* float: left; */
}
figure.snip1432 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.snip1432 img {
  opacity: 0.8;
  width: 100%;
  vertical-align: top;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip1432 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure.snip1432 figcaption > div {
  height: 50%;
  overflow: hidden;
  width: 100%;
  position: relative;
}
figure.snip1432 h2,
figure.snip1432 h3 {
  margin: 0;
  position: absolute;
  left: 0;
  padding: 0 30px;
  text-transform: uppercase;
}
figure.snip1432 h2 {
  font-weight: 900;
  top: 0;
}
figure.snip1432 h3 {
  font-size: 2vh;
  bottom: 0;
  font-weight: 500;
}
figure.snip1432 h3:nth-of-type(2) {
  opacity: 0;
  -webkit-transform: translateY(150%);
  transform: translateY(150%);
}
figure.snip1432 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
figure.snip1432:hover img,
figure.snip1432.hover img {
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
figure.snip1432:hover figcaption h3:first-of-type,
figure.snip1432.hover figcaption h3:first-of-type {
  -webkit-transform: translateY(150%);
  transform: translateY(150%);
  opacity: 0;
}
figure.snip1432:hover figcaption h3:nth-of-type(2),
figure.snip1432.hover figcaption h3:nth-of-type(2) {
  opacity: 1;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}
